# SQL CRUD
**C**: Create
<br>
**R**: Retrieve
<br>
**U**: Update
<br>
**D**: Delete

# Create

<font color="blue">**CREATE TABLE**</font> <font color="brown">table_00</font><font color="green">(

                        name</font> <font color='blue'>**VARCHAR**</font>(120), 
                        
                        <font color = 'green'>hospital</font> <font color = 'blue'>**VARCHAR**</font>(300)
                        
                        <font color='green'>)</font>

**<font color="blue">CREATE TABLE</font>** <font color="brown">table_01</font><font color="green">(name</font> <font color='blue'>**VARCHAR**</font>(120), <font color='green'>title</font> <font color='blue'>**VARCHAR**</font>(300<font color='green'>))</font>
____________________________

# Retrieve

<font color='blue'>**SELECT**</font> <font color='green'>*****</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font>
<br>
<font color='blue'>**SELECT**</font> <font color='green'>name</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font>
<br>
<font color='blue'>**SELECT**</font> <font color='green'>name</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font> <font color='blue'>**WHERE**</font> <font color='green'>hospital='Shengjing Hospital of China Medical University'</font>
<br>
<font color='blue'>**SELECT**</font> <font color='green'>name</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font> <font color='blue'>**ORDER BY**</font> <font color='green'>hospital</font>
___________________

# Update

**Insert**

**<font color="blue">INSERT INTO**</font> <font color='brown'>table_00</font><font color='green'>(name, hospital)</font> <font color="blue">**VALUES**</font><font color="green">('Chunyu Fan', "People's Hospital of Liaoning Province")</font>

**Update**

**<font color="blue">UPDATE</font>** <font color='brown'>table_00</font> **<font color="blue">SET</font>** <font color='green'>name='Yawei Jin'</font> **<font color="blue">WHERE</font>** <font color='green'>hospital="People's Hospital of Liaoning Province"</font>
_________________________

# Delete

**<font color='blue'>DELETE FROM</font>** <font color='brown'>table_00</font> <font color='blue'>**WHERE**</font> <font color='green'>name='Deling Zou'</font>
__________________

In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('SQL_CRUD_Test.sqlite')

In [4]:
cur = conn.cursor()

In [5]:
str = cur.execute('SELECT * FROM table_00')

In [6]:
str

In [11]:
str.fetchone()

('Yawei Jin', "People's Hospital of Liaoning Province")

In [14]:
cur.execute('INSERT INTO table_01(name, title) VALUES("Chuanhe Wang", "Resident Dr.")')

In [16]:
conn.commit()