# SQL CRUD
**C**: Create

**R**: Retrieve

**U**: Update

**D**: Delete

# Create

<font color="blue">**CREATE TABLE**</font> <font color="brown">table_00</font><font color="green">(

                        name</font> <font color='blue'>**VARCHAR**</font>(120), 
                        
                        <font color = 'green'>hospital</font> <font color = 'blue'>**VARCHAR**</font>(300)
                        
                        <font color='green'>)</font>

**<font color="blue">CREATE TABLE</font>** <font color="brown">table_01</font><font color="green">(name</font> <font color='blue'>**VARCHAR**</font>(120), <font color='green'>title</font> <font color='blue'>**VARCHAR**</font>(300<font color='green'>))</font>
____________________________

# Retrieve

<font color='blue'>**SELECT**</font> <font color='green'>*****</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font>
<br>
<font color='blue'>**SELECT**</font> <font color='green'>name</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font>
<br>
<font color='blue'>**SELECT**</font> <font color='green'>name</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font> <font color='blue'>**WHERE**</font> <font color='green'>hospital='Shengjing Hospital of China Medical University'</font>
<br>
<font color='blue'>**SELECT**</font> <font color='green'>name</font> <font color='blue'>**FROM**</font> <font color='brown'>table_00</font> <font color='blue'>**ORDER BY**</font> <font color='green'>hospital</font>

# Update

**Insert**

**<font color="blue">INSERT INTO**</font> <font color='brown'>table_00</font><font color='green'>(name, hospital)</font> <font color="blue">**VALUES**</font><font color="green">('Chunyu Fan', "People's Hospital of Liaoning Province")</font>

**Update**

**<font color="blue">UPDATE</font>** <font color='brown'>table_00</font> **<font color="blue">SET</font>** <font color='green'>name='Yawei Jin'</font> **<font color="blue">WHERE</font>** <font color='green'>hospital="People's Hospital of Liaoning Province"</font>
_________________________

# Delete

**<font color='blue'>DELETE FROM</font>** <font color='brown'>table_00</font> <font color='blue'>**WHERE**</font> <font color='green'>name='Deling Zou'</font>
__________________

_______________________

# Assignment Example

**Import the Module for SQL:** sqlite3

In [ ]:
import sqlite3

**Establish the connection to DB**

In [ ]:
conn = sqlite3.connect('emaildb.sqlite')

**Create a cursor**

In [ ]:
cur = conn.cursor()

**Delete the table having the same name**

In [ ]:
cur.execute('''
DROP TABLE IF EXISTS Counts''')

**Create the table**: Counts
<br>
**<font color="blue">CREATE TABLE</font>** <font color="brown">Counts</font><font color="green">(email TEXT, count INTEGER)</font>

In [ ]:
cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

**Open the file**

In [ ]:
fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'mbox.txt'
fh = open(fname)

**File Operations**

In [ ]:
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email, ))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count) 
                VALUES ( ?, 1 )''', ( email, ) ) #Beware! The placeholder item should be implemented with **Tuple**!
    else : 
        cur.execute('UPDATE Counts SET count=count+1 WHERE email = ?', 
            (email, ))
    conn.commit()

**Output**

In [ ]:
# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr) :
    print(str(row[0]), row[1])

cur.close()

____________________________

# My Code of the Week 1 Assignment

In [ ]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split()
    email = pieces[1]
    pieces2 = email.split('@') #The difference is here, split the email address!
    org = pieces2[1]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org, ))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count) 
                VALUES ( ?, 1 )''', ( org, ) )
    else : 
        cur.execute('UPDATE Counts SET count=count+1 WHERE org = ?', 
            (org, ))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr) :
    print(str(row[0]), row[1])

cur.close()